//Colours
$sycilian-blue: #0e95a5;
$grey: #f3f5f5;
$dark-sycilian: #0f8694;
$dark-grey: #313131;

$main-colour: $sycilian-blue;
$heading-colour: $dark-grey;
$body-background: $grey;
$section-background: white;
$colour-section-background: $grey;
$dark-section-background: $dark-grey;
